services:
  postgres:
    image: postgres:15
    container_name: user_service_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: usersdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:alpine
    container_name: user_service_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    container_name: user_service_rabbitmq
    restart: always
    ports:
      - "5672:5672"   # RabbitMQ messaging
      - "15672:15672" # Web management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - backend

  user-service:
    build: .
    container_name: user_service_app
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
      - .env.development

    depends_on:
      - postgres
      - redis
      - rabbitmq
    networks:
      - backend

networks:
  backend:

volumes:
  pgdata:
